<%- include('../../common/header'); -%>

    <!-- main-content -->
    <div class="main-content app-content">
        <!-- container -->
        <div class="main-container container-fluid">
            <!-- breadcrumb -->
            <form action="/category/deleteAll" method="POST">
                <div class="breadcrumb-header justify-content-between">
                    <div class="my-auto">
                        <div class="d-flex">
                            <h4 class="content-title mb-0 my-auto">Category List</h4><span
                                class="text-muted mt-1 tx-13 ms-2 mb-0">/ Category</span>
                        </div>
                    </div>
                    <div class="d-flex my-xl-auto right-content">
                        <div class="pe-1 mb-xl-0">
                            <button type="submit" class="btn btn-danger  btn-icon me-2"
                                onclick="return confirm('Are you sure you want to delete selected records?')">
                                <i class="mdi mdi-delete"></i>
                            </button>
                        </div>
                        <div class="mb-xl-0">
                            <a href="/category/create" class="btn btn-primary">Add Category</a>
                        </div>
                    </div>
                </div> <!-- breadcrumb -->
                <div>
                    <!-- success -->
                    <% if(success !='' ){ %>
                        <div class="alert alert-success" role="alert">
                            <%= success %>
                        </div>
                        <% } %>

                            <!-- errors  -->
                            <% if(danger !='' ){ %>
                                <div class="alert alert-danger" role="alert">
                                    <%= danger %>
                                </div>
                                <% } %>

                                    <!-- warning -->
                                    <% if(info !='' ){ %>
                                        <div class="alert alert-info" role="alert">
                                            <%= info %>
                                        </div>
                                        <% } %>
                </div>
                <!-- row opened -->
                <div class="row row-sm">
                    <!--div-->
                    <div class="col-xl-12">
                        <div class="card mg-b-20">
                            <div class="card-header pb-0">
                                <div class="d-flex justify-content-between mg-b-20">
                                    <h4 class="card-title mg-b-0">Category List</h4>
                                </div>

                                <div class="row d-flex align-items-center">
                                    <div class="col-sm-12 col-md-6">
                                        <div>
                                            <label class="d-flex align-items-center">Show
                                                <select name="limit" style="width: 60px;"
                                                    class="form-select form-select-sm select2 record-limit"
                                                    tabindex="-1" value="<%= query.limit %>" aria-hidden="true">
                                                    <% if(query.limit==10){ %>
                                                        <option value="10" selected>10</option>
                                                        <% }else{ %>
                                                            <option value="10">
                                                                10
                                                            </option>
                                                            <% } %>
                                                                <% if(query.limit==25){ %>
                                                                    <option value="25" selected>25</option>
                                                                    <% }else{ %>
                                                                        <option value="25">
                                                                            25
                                                                        </option>
                                                                        <% } %>
                                                                            <% if(query.limit==50){ %>
                                                                                <option value="50" selected>50
                                                                                </option>
                                                                                <% }else{ %>
                                                                                    <option value="50">50</option>
                                                                                    <% } %>
                                                                                        <% if(query.limit==100){ %>
                                                                                            <option value="100"
                                                                                                selected>100
                                                                                            </option>
                                                                                            <% }else{ %>
                                                                                                <option value="100">
                                                                                                    100
                                                                                                </option>
                                                                                                <% } %>
                                                </select>
                                                entries</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6" style="text-align: right;">
                                        <div>
                                            <div class="d-flex align-items-center justify-content-end  text-right">
                                                <input type="search" name="search" style="width: 150px"
                                                    class="form-control record-search" placeholder="Search..."
                                                    value="<%= query.search %>">
                                                <div class="search_btn"
                                                    style="border: 1px solid; padding: 6px 10px; border-left: 0; border-color: #e1e5ef;">
                                                    <i class="fe fe-search"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered mg-b-0 text-md-nowrap">
                                        <thead>
                                            <tr>
                                                <th>S.N.</th>
                                                <th>Title</th>
                                                <th>Parent</th>
                                                <th>Image</th>
                                                <th>Option</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% lists.data.forEach((list,key)=> { %>
                                                <tr>
                                                    <th scope="row">
                                                        <%-lists.offset+key+1 %>. |
                                                            <input type="checkbox" value="<%=list.id %>" name="id"
                                                                id="">
                                                    </th>
                                                    <td>
                                                        <%-list.title %>
                                                    </td>
                                                    <td>
                                                        <%- list.parent?list.parent.title:'' %>
                                                    </td>
                                                    <td>
                                                        <% if(list.image) { %>
                                                            <div class="media mt-0">
                                                                <img class="avatar-sm rounded-circle my-auto me-3"
                                                                    src="upload/category/<%= list.image %>"
                                                                    alt="Image description">
                                                            </div>

                                                            <% } %>
                                                    </td>
                                                    <td class="d-flex ">
                                                        <a href="<%= `category/delete/${list.id}?_method=DELETE` %>"
                                                            onclick="return confirm('Are you sure you want to delete this record?')"
                                                            class="btn btn-danger btn-sm  me-2">
                                                            <i class="mdi mdi-delete"></i>
                                                        </a>
                                                        <a href="<%= `category/edit/${list.id}` %>"
                                                            class="btn btn-primary btn-sm  me-2">
                                                            <i class="mdi mdi-pencil"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>
                                    <%- include('../../templete/pagination'); -%>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/div-->
                </div> <!-- /row -->
            </form>
        </div> <!-- Container closed -->
    </div>
    <!-- /main-content -->

    <%- include('../../common/footer'); -%>